<header>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Shop App</h1>
            <p class="lead">Yeni mağazamız ile hizmetinizdeyiz</p>
        </div>
    </div>
</header>
